
<h2>Edit {{liquor.brand}}</h2>


<form action="/liquor/update-item/{{liquor._id}}" method="POST">


<p>Brand</p>

<input type="text" name="brand" value=" {{liquor.brand}}">


<p>Description</p>
<input type="text" name="description" value="{{liquor.description}}">


<p>Size</p>
<input type="text" name="size" value="{{liquor.size}}">

<p>Type</p>
<input type="text" name="type" value="{{liquor.type}}">

<p>Vendors</p>
<select name="vendor">

  {{#each vendors}}
  {{#if isTheVendor}}
  <option selected value="{{_id}}">{{companyName}}</option>
  {{else}}
     <option value="{{_id}}">{{companyName}}</option>
  {{/if}}
  {{/each}}
</select>

<button>Save</button>

</form>