<h2>Add a new item!</h2>

<form action="/liquor/created-item" method="POST">

<p>Brand</p>
<input type="text" name="brand">


<p>Type</p>
<input type="text" name="type">


<p>Description</p>
<input type="text" name="description">

<p>Vendor</p>
{{#each data.vendors}}
  
  <option selected value="{{_id}}">{{companyName}}</option>
  {{else}}
     <option value="{{_id}}">{{companyName}}</option>

  {{/each}}

{{!-- <p>Image</p>
<input type="text" name="image"> --}}

<button>Save</button>

</form>