<ul>
{{#each liquor}}
  <li>{{brand}}</li>
  <li>{{description}}</li>
  <li>{{type}}</li>
  <li>{{size}}</li>
  <a href="/show/{{vendor._id}}"><li>{{vendor.companyName}}</li></a>
{{/each}}
</ul>

<a href="/index">Back to all liquor</a>