<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


<ul>
{{#each liquor}}
  <li>{{brand}}</li>
  <li>{{description}}</li>
  <li>{{type}}</li>
  <li>{{size}}</li>
  <li>{{price}}</li>
  <li>{{vendor}}</li>
{{/each}}
</ul>
{{!-- <section>
  <h2>Upload your photo</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="text" name="name">
    <input type="file" name="photo">
    <input type="submit" value="Save">
  </form>
</section>


<section>
  {{#each pictures}}
    <h3>{{ this.name }}</h3>
    <img src="{{ this.path }}" alt="{{ this.originalName }}" />
  {{/each}}
</section> --}}
