<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">
</head>
<body>
{{!-- {{#if errorMessage}}
  <div>{{errorMessage}}</div>
  {{/if}} --}}


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vendors/index">Vendors</a>
      </li>
      <li>
        <a href="/users/profile">Go to profile page</a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/liquor/index" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Liquor
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/liquor/index">Whiskey</a>
          <a class="dropdown-item" href="/liquor/index">Tequila</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/liquor/index">Rum</a>
          
        </div>
      </li>
    </ul>
      {{#if isAdmin}}
        {{isAdmin}}
          <a href="/users/create-new-account">Create New User</a>
        {{/if}} 
          {{#if currentUser}}
          <li><a href="/users/logout">Logout</a></li>
          {{else}}
          <li><a href="/users/signup">Sign up</a></li>
          <li><a href="/users/login">Login</a></li>
        {{/if}}
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

  {{!-- <div class="nav-container">


    <nav class="nav-left">
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/liquor/index">Liquor</a></li>
          <li><a href="/vendors/index">Vendors</a></li>

        {{#if currentUser}}
          <a href="/users/create-new-account">Create New User</a>
          <a href="/users/active-users">See All Users</a>
        {{/if}} 
        
      </ul>
    </nav>

     <nav class="nav-right">
      <ul>

        {{#if currentUser}}
          <li><a href="/users/logout">Logout</a></li>
          {{else}}
          <li><a href="/users/signup">Sign up</a></li>
          <li><a href="/users/login">Login</a></li>
        {{/if}}
    
      </ul>
    </nav>

  </div> --}}
  {{#if currentUser}}
   {{currentUser.username}}
   {{currentUser.password}}
   {{currentUser.role}}
{{/if}}

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>