<h2>In Vendor Show</h2>
<ul>
{{#each vendors}}
  <li>{{companyName}}</li>
  <li>{{location}}</li>
  {{#each products}}
  <li>{{brand}}</li>
  <a href="/liquor/show/{{_id}}"><li>{{brand}}</li></a>
  {{/each}}
{{/each}}
</ul>

<a href="/vendors/index">Back to all vendors</a>